<!-- .container is main centered wrapper -->

<!-- columns should be the immediate child of a .row -->
<div class="row">
  <div class="twelve column">
    <div class="box">
      <h1 class="company-name">{{gameDataService.getPlayerData().company.name}}</h1>
    </div>
  </div>
</div>

<!-- just use a number and class 'column' or 'columns' -->
<div class="row">
  <div class="two columns">
    <div class="box-sides content-center" style="--w: 5%;" >
      <h1>side bar important details of things like money</h1>

      <button type="button" (click)="showOperations()" clickable>Operations</button>
      <button type="button" (click)="showRigHold()" clickable>Rig Hold</button>
      <button type="button" (click)="showRunnerPit()" clickable>Runner Pit</button>

    </div>
  </div>
  <div class="ten columns glow box-top-bottom" style="--w: 5%;">
    <ng-container *ngIf="activeMenu == 'GameOverview'">
      <h1>Overview Screen, lots of different details and metrics, can wait out time here.</h1>
    </ng-container>
    <ng-container *ngIf="activeMenu == 'GameMissionsAvailable'">
      <app-game-missions></app-game-missions>
    </ng-container>
    <ng-container *ngIf="activeMenu == 'GameRigEditor'">
      <app-rig-hold></app-rig-hold>
    </ng-container>
    <ng-container *ngIf="activeMenu == 'GamePilotManagement'">
      <app-runner-pit></app-runner-pit>
    </ng-container>
  </div>
</div>
