<p>rig-hold works!</p>






<div class="row">
  <div class="three columns">
    <div class="box-sides content-center" style="--w: 5%;" >
      <div
        id="Inventory"
        (drop)="drop_handler($event)"
        (dragover)="dragover_handler($event)">
        poop
          <ng-container *ngFor="let v of inventory">
            <p id="{{v}}" draggable="true" (dragstart)="dragstart_handler($event)">
              This element is draggable. - {{v}}
            </p>
          </ng-container>
      </div>
    </div>
  </div>
  <div class="nine columns box-top-bottom" style="--w: 5%;">


  <div
    id="LeftTorso"
    (drop)="drop_handler($event)"
    (dragover)="dragover_handler($event)">
    Left Torso
  </div>
  </div>
</div>
